[alias]
br = "build --release"
fr = ["run", "--release", "--bin", "esp32-wifi-sniffer"]  # build + flash + monitor

# Web GUI aliases for different platforms
web = ["run", "--bin", "web-gui", "--features", "web-gui", "--target", "aarch64-apple-darwin", "--no-default-features", "--release"]
web-m = ["run", "--bin", "web-gui", "--features", "web-gui", "--target", "aarch64-apple-darwin", "--no-default-features", "--release"]
web-l = ["run", "--bin", "web-gui", "--features", "web-gui", "--target", "x86_64-unknown-linux-gnu", "--no-default-features", "--release"]
web-w = ["run", "--bin", "web-gui", "--features", "web-gui", "--target", "x86_64-pc-windows-msvc", "--no-default-features", "--release"]

[build]
target = "xtensa-esp32-espidf"

[target.xtensa-esp32-espidf]
linker = "ldproxy"
runner = "espflash flash --monitor"
rustflags = [ "--cfg",  "espidf_time64"]

[unstable]
build-std = ["std", "panic_abort"]

[env]
MCU="esp32"
# Note: this variable is not used by the pio builder (`cargo build --features pio`)
ESP_IDF_VERSION = "v5.3.3"

